@use "@angular/material" as mat;

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: "Inter",
      brand-family: "Inter",
      bold-weight: 900,
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($my-theme);
}
